# Dependencies
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# Build outputs
dist
build
out
.next

# Environment variables
.env
.env.local
.env.*.local

# IDE & Editor
.vscode
.idea
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Temp & Cache
.turbo
.cache
*.tsbuildinfo

# Testing
coverage
